/***********************************************************
                            General
***********************************************************/
* {
  margin: 0;
  padding: 0;
}

body {
font-family: 'Josefin Sans', sans-serif;
background: url(../assets/seamless_paper_texture/seamless_paper_texture.png) , rgba(137,128,122, .9);
}

a {
  color: #500;
  text-decoration: none;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: .5px .5px #aaa;
}

a:hover {
  color: #d46a6a;
}

div {
  padding: 5px;
  margin: 5px;
  font-family: 'Josefin Sans', sans-serif;
}

/***********************************************************
                            Container
***********************************************************/

#container {
  display: flex;
  flex-wrap: wrap;

}
/***********************************************************
                            Nav Bar
***********************************************************/
.nav {
  max-height: 300px;
  min-width: 800px;
  width:99%;
  margin-top: -20px;
  margin-left: -15px;
  margin-right:-15px;
  margin-bottom:20px;
  display:block;
  align-items:center;
  font-size: 0.8em;
  flex-direction: row;
  padding:0 50px;
  background-color: #FFCDAA;
  box-shadow:1px 2px 3px 1px #666;

}

.nav div {
  display:inline-block;
  align-items: center;
}

header {
  font-size:2.5em;
  margin-bottom: 10px;
  font-family: 'Lobster', cursive;
  text-shadow:1px 2px 3px #666;
  text-align: center;
  display:block;
}

.header {
  display:block;
  font-size:2.5em;
  margin-bottom: -10px;
  margin-left: 50px;
  font-family: 'Lobster', cursive;
  align-self:center;

}
/***********************************************************
                            Forms
***********************************************************/

form {
  background-color: rgba(137,128,122, 1);
}

.form {
  background-color: rgba(137,128,122, 1);
  box-shadow:1px 2px 3px 1px #666;

}

.form input {
  padding:5px;
  margin-right:10px;
  margin:auto;

}

button {
  background-color:#ffe58f;
  padding:5px;
  border-radius:12px;
  transform: skewX(-20deg);
  border-style:groove;
  border-color:black;
  box-shadow:1px 1px 1px 1px #666;
}

button:hover {
  background-color:#ffd64c;
}

textarea{
  display:block;
  min-width: 500px;
  margin:5px;
}

textarea:focus {
  border: .5px solid #ffe58f;
}
