/*-----General-----*/

* {
  border-radius: 5px;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background: url(../assets/seamless_paper_texture/seamless_paper_texture.png) , rgba(137,128,122, .9);
}

a {
  color: #361600;
  text-decoration: none;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 1.5em;
}

a:hover {
  color: #d46a6a;
}

.centerContent {
  justify-content: center;
  text-align: center;
}

#errorMessage {
  color: red;
}

/*-----Container-----*/

#container {
  display: flex;
  justify-content: center;
}

/*-----Nav Bar-----*/

.nav {
  max-height: 300px;
  margin: -20px -15px 20px -15px;
  display:block;
  font-size: 0.8em;
  background-color: #ffe6ba;
  box-shadow:1px 2px 3px 1px #666;
  border-radius:5px;
  color: #3e1a00;
  padding: 4px;
}

.header {
  margin-bottom: 10px;
  font-family: 'Lobster', cursive;
  text-shadow:1px 2px 3px #666;
  font-size:5.5em;
  display: flex;
  justify-content: center;
}

#navOptions {
  display: flex;
}

.navOption {
  padding: 4px;
  flex-grow: 1;
  text-align: center;
}

.navStories a:hover {
  color: #3e67ab;
}

.navTemplates a:hover {
  color: #30a393;
}

.navMeta a:hover {
  color: #E9a325;
}

/*-----Forms-----*/

form {
  background-color: rgba(137,128,122, 1);
}

.form {
  background-color: rgba(137,128,122, 1);
  box-shadow:1px 2px 3px 1px #666;
}

input {
  padding:5px;
  margin-left:10px;
  margin-top:15px;
  margin-bottom:5px;
}

.signup {
  background-color: rgba(137,128,122, 1);
  box-shadow:1px 2px 3px 1px #666;
}

.submitbutton {
  background-color:#ffe6ba;
  padding:4px;
  border-radius:8px;
  border: 1px solid black;
  box-shadow:1px 1px 1px 1px #666;
  margin-left:40px;
}

.submitbutton:hover {
  background-color:#ffd64c;
}

button {
  background-color:#ffe6ba;
  padding:4px;
  border-radius:8px;
  border: 1px solid black;
  box-shadow:1px 1px 1px 1px #666;
}

button:hover {
  background-color:#ffd64c;
}

textarea {
  display:block;
  min-width: 500px;
  margin:5px;
}

textarea:focus {
  border: .5px solid #ffe58f;
}

/*-----Add Noun Verb Form-----*/

.noun {
  display: block;
}
.verb {
  display: block;
  background-color: dodgerblue;
}

/*-----Story and Story Cards-----*/

#instructions {
  padding: 4px;
  padding-top: 18px;
  font: 22px bold;
  font-family: 'Josefin Sans', sans-serif;
}

.everyonesstories {
  background-color: #b5caef;
  display: inline-block;
  padding:10px;
  margin-right:50px;
  font-weight:bold;
  box-shadow:1px 2px 3px 1px #666;
}

.mystories {
  display: inline-block;
  background-color:#3e67ab;
  padding:10px;
  box-shadow:1px 2px 3px 1px #666;
}

.everyonesstories a {
 color: #132340;
}

.everyonesstories a:hover {
  color:#151a23;
}

.everyonesstories a {
  color:#152c55;
}

.mystories a {
  color:#152c55;
  font-size:1.5em;
}

.mystories a:hover {
  color:#151a23;
}

.cardscontainer {
  display:flex;
  flex-wrap: wrap;
  max-width:980px;
  margin: 4px;
}

.card {
  background-color: dodgerblue;
  display: inline-block;
  padding:15px;
  margin:10px;
  box-shadow:1px 2px 3px 1px #666;
  border-radius: 5px;
}

.stories {
  background-color: #25509B;
  padding:15px;
  margin:10px;
  box-shadow:1px 2px 3px 1px #666;
  border-radius: 5px;
  color:white;
  display:flex;
  flex-wrap:wrap;
  max-width:400px;
  max-height: 30px;
  justify-content: center;
  flex-grow: 1;
}

.stories:nth-child(even) {
  background-color:#5d84C5;
}

.stories a {
  color:white;
}

#completedStory {
  background: #5d84C5;
  padding: 14px;
  margin: 10px;
  display: flex;
  box-shadow: 1px 2px 3px 1px #666;
  color: white;
  width: 980px;
}

/*-----Templates and Template Cards-----*/

.newtemplate {
  background-color: #30a393;
  display: inline-block;
  padding:10px;
  margin-right:50px;
  margin-left:300px;
  font-weight:bold;
  box-shadow:1px 2px 3px 1px #666;
}

.mytemplates {
  display: inline-block;
  background-color:#79d8cb;
  padding:10px;
  box-shadow:1px 2px 3px 1px #666;
}

.newtemplate a {
 color: #132340;
}
.everyonesstories a:hover {
  color:#151a23;
}

.everyonesstories a{
  color:#152c55;
}

.mytemplates a {
  color:#152c55;
  font-size:1.5em;
}

.mystories a:hover {
  color:#151a23;
}

.card {
  background-color: dodgerblue;
  display: inline-block;
  padding:15px;
  margin:10px;
  box-shadow:1px 2px 3px 1px #666;
  border-radius: 5px;

}

.template {
  background-color: #adeee5;
  display: inline-block;
  padding:15px;
  margin:10px;
  box-shadow:1px 2px 3px 1px #666;
  border-radius: 5px;
  color:white;
  display:flex;
  flex-wrap:wrap;
  max-width:400px;
  max-height: 30px;
}

.templates:nth-child(even) {
  background-color:#5d84C5;
}

.templates a {
  color:white;
}

.templatescolortest {
  display: inline-block;
  background-color:#adeee5;
  padding:10px;
  box-shadow:1px 2px 3px 1px #666;
}

/*-----Welcome Page-----*/

.welcome {
  background-color: #FF964c;
  max-width:980px;
  min-height:100px;
  box-shadow:1px 2px 3px 1px #666;
  margin-bottom:30px;
  padding: 4px;
}

#defofday {
 background-color: #FFBD8F;
 box-shadow:1px 2px 3px 1px #666;
 align-self: stretch;
 justify-content: center;
 max-width:980px;
 padding: 4px;
}

#defofday h1 {
  color:white;
  display: inline-block;
  margin-left: 350px;
  font-size: 3.5em;
}

#defofday h2 {

}

/*-----Welcome Page-----*/

/*-----Stories New-----*/

#story {
  max-width: 980px;
  width: 100%;
}

#storyTitle {
  font: 25px bold;
  padding: 4px;
  width: 980px;
}
